<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">
      2023 All Rights Reserved. Design by
      <a href="https://html.design">J-Tour</a>
    </p>
  </div>
</div>
