<div class="footer_section layout_padding">
  <div class="container">
    <div class="location_main">
      <div class="call_text"><img src="images/call-icon.png" /></div>
      <div class="call_text"><a href="#">Call +966 505675897</a></div>
      <div class="call_text"><img src="images/mail-icon.png" /></div>
      <div class="call_text">
        <a href="mailto:tourist_company@gmail.com">tourist_company@gmail.com</a>
      </div>
    </div>
    <div class="social_icon">
      <ul>
        <li>
          <a href="https://twitter.com/CompanyJtour"
            ><img src="images/twitter-icon.png"
          /></a>
        </li>

        <li>
          <a href="https://instagram.com/jtour.company?igshid=YmMyMTA2M2Y="
            ><img src="images/instagram-icon.png"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
