<div class="header_section">
         <div class="header_main">
            <div class="mobile_menu">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                           <li class="nav-item">
                              <a class="nav-link" href="/">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/about">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/services">Events</a>
                           </li>
                        
                           <li class="nav-item">
                              <a class="nav-link " href="/contact">Contact</a>
                           </li>

                           <%if (!isLoggedIn){%>

                              <li class="nav-item">
                                 <a class="nav-link " href="/signup">Signup</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link " href="/login">Login</a>
                              </li>

                           <%} else{%>
                              <li class="nav-item">
                                 <a class="nav-link " href="/logout">Logout</a>
                              </li>
                           <%}%>
                        </ul>
                     </div>
                  </nav>
               </div>
            <div class="container-fluid">
               <div class="menu_main">
                  <ul>
                     <li class="active"><a href="/">Home</a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/services">Events</a></li>
                     <li><a href="/contact">Contact us</a></li>
                     
                     <%if (!isLoggedIn){%>
                        <li><a href="/signup" class="sigup-button">Signup</a></li>
                        <li><a href="/login" class="login-button">Login</a></li>
                     <%} else{%>
                        <li><a href="" class="login-button" id="logout">Logout</a></li>
                     <%}%>
                     
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <script src="./js/logout.js"></script>