<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <!-- header section start -->
    <%- include('../partials/header.ejs')%>
    <!-- header section end -->

    <!-- services section start -->
    <div class="services_section layout_padding">
      <div class="container">
        <h1 class="services_taital">Events</h1>
        <p class="services_text">
          Our tourist company provides information about events and festivals
          that take place in the specific tourist areas we cover. And here
          you'll find information about the events and festivals that take place
          in jeddah. Attending a local event is a great way to immerse yourself
          in the local culture and create unforgettable memories ♡.
        </p>
        <div class="services_section_2">
          <div class="row">
            <div class="col-md-4">
              <div><img src="images/Balad.jpg" class="services_img" /></div>
            </div>
            <div class="col-md-4">
              <div><img src="images/cityWalk.jpg" class="services_img" /></div>
            </div>
            <div class="col-md-4">
              <div>
                <img src="images/Art_Promenade.jpg" class="services_img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="about_taital_main">
              <h1 class="about_taital">About Us</h1>
              <p class="about_text">
                Welcome to our tourist company, where we are committed to
                providing you with the best travel experiences in Jeddah. We
                understand that travel is not just about visiting a new place,
                but it's an experience that enriches your life. Our company
                specializes in providing tours and itineraries that cover the
                most famous and popular tourist areas in Jeddah, and we are
                dedicated to helping you choose the best tour that suits your
                travel needs and interests ♡.
              </p>

              <p class="about_text">
                We believe that Jeddah is a city that combines culture, history,
                and natural beauty, and we want to help you discover all that
                this wonderful city has to offer. Our tours cover a variety of
                attractions, such as historic landmarks, museums, shopping
                centers, and the beautiful Red Sea beaches. We offer both group
                and private tours, so you can choose the option that best suits
                your preferences ♡.
              </p>

              <p class="about_text">
                Thank you for considering our tourist company for your travel
                needs in Jeddah. We are dedicated to providing you with the best
                travel experiences possible and look forward to helping you
                explore the beauty and charm of this wonderful city ♡.
              </p>
            </div>
          </div>
          <div class="col-md-6 padding_right_0">
            <div><img src="images/aboutUs.jpg" class="about_img" /></div>
          </div>
        </div>
      </div>
    </div>

    <div class="choose_section layout_padding">
      <div class="container">
        <h1 class="choose_taital">Why Choose Us</h1>
        <p class="choose_text">
          If you are looking for information about the famous tourist places in
          Jeddah, you've come to the right place. Our tourist company
          specializes in providing tours and itineraries that cover the most
          popular tourist areas in the city. Whether you're interested in
          exploring Jeddah's historic landmarks, shopping centers, museums, or
          beautiful Red Sea beaches, we have a tour that caters to ` your
          interests. We are dedicated to providing you with a hassle-free and
          enjoyable travel experience, from transportation and accommodations to
          activities and sightseeing. Thank you for considering our tourist
          company for your Jeddah travels. We look forward to helping you
          explore the beauty and charm of this wonderful city ♡.
        </p>
      </div>
    </div>
    <!-- choose section end -->

    <!-- footer section start -->
    <%- include('../partials/footer.ejs')%>
    <!-- footer section end -->

    <!-- copyright section start -->
    <%- include('../partials/copyright.ejs')%>
    <!-- copyright section end -->
  </body>
</html>
