<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <!-- header section start -->
    <%- include('../partials/header.ejs')%>
    <!-- header section end -->

    <!-- services section start -->
    <div class="services_section layout_padding">
      <div class="container">
        <h1 class="services_taital">Events</h1>
        <p class="services_text">
          The city of Jeddah combines culture, civilization and development, and
          the beautiful nature of the Red Sea, in which there are many wonderful
          and family entertainment destinations
        </p>

        <div class="row">
          <div class="col-md-4">
            <div>
              <a href="https://jeddahalbalad.sa/">
                <img src="images/Balad.jpg" class="services_img1" />
                <div class="overlay">
                  <h2>AL-Balad</h2>
                  <p>
                    The winding streets of Al Balad are a walk down memory lane
                    and a gateway to the unique cultural legacy of Saudi Arabia
                    that has withstood the test of time. The spirit of this town
                    was recognized in 2014 when it was classified as a World
                    Heritage Site by UNESCO. You will find your heart anchored
                    in a live portrait of the past. The buildings adorned with
                    wooden lattice windows that once witnessed the hustle-bustle
                    of the early trading days of Jeddah, warmly welcome new
                    faces from around the globe.<br /><a
                      href="https://maps.app.goo.gl/YPCA4M7FCKMXCLMMA?g_st=iw"
                      >To see the location click here</a
                    >
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <a
                href="https://www.instagram.com/citywalkjeddah/?igshid=YmMyMTA2M2Y%3D"
              >
                <img src="images/cityWalk.jpg" class="services_img2" />

                <div class="overlay2">
                  <h2>City walk</h2>
                  <p>
                    City walk is An entertainment and family place suitable for
                    everyone and to enjoy with friends, it contains many
                    impressive and varied entertainment areas that satisfy all
                    groups, there is a water area, a barbecue area, and a horror
                    area, the most appropriate place to choose a destination
                    for entertainment<br /><a
                      href="https://maps.app.goo.gl/NRmpsdEGaz3MGc4X6?g_st=iw"
                      >To see the location click here</a
                    >
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <a
                href="https://www.visitsaudi.com/en/see-do/destinations/jeddah/jeddah-art-promenade"
              >
                <img src="images/Art_Promenade.jpg" class="services_img3" />
                <div class="overlay3">
                  <h2>Art Promenade</h2>
                  <p>
                    A wonderful place with refreshing sea waves and the most
                    famous restaurants and cafes, and there are games for
                    children to spend a fun time, and in seasonal times it
                    includes formula and fireworks, it is the most wonderful
                    destination for making beautiful memories and seeing
                    events<br /><a
                      href="https://maps.app.goo.gl/J65cv82e4JPX7tsU9?g_st=iw"
                      >To see the location click here</a
                    >
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services section end -->

    <!-- footer section start -->
    <%- include('../partials/footer.ejs')%>
    <!-- footer section end -->

    <!-- copyright section start -->
    <%- include('../partials/copyright.ejs')%>
    <!-- copyright section end -->
  </body>
</html>
